@model Exemplo.Models.Pessoa
@{
    ViewData["Title"] = "Lista";
}

<h2>Lista</h2>
<div>
    <b>PessoaId</b>
</div>
<div>
    @ViewData["PessoaId"]
</div>
<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["Nome"]
</div>
<div>
    <b>Pais</b>
</div>
<div>
    @ViewData["Pais"]
</div>
<a href="~/" title="Voltar">Voltar</a>